.webBody
  .title
    h1 和平島數位圖像故事館導覽大堂<br>
    p 本廳為和平島數位圖像故事館導覽大堂，主要是介紹本故事館成立緣由與各廳室之概要
  .content
    .part
      h1 一.設立宗旨
      p 關於和平島數位圖象故事館
      p 和平島數位圖象故事館(簡稱DMHI)是海洋大學執行教育部USR專案的成果之一，也是推動「和平島國際旅遊島計畫」的資料庫平台，凡與和平島有關無論大基隆甚至全球的歷史故事、文化資產，從原住民與大航海時代，西荷鄭清、日治到民國近代，都是我們收集與展示的範圍。我們館中有大量的圖文資料，都是符合嚴謹學術研究標準的，尤其是歷史場景再現的高擬真插畫更是本館的特色。
    .part
      h1 二.廳室簡介

    .backtoindex 
      a(
        href="https://smallowl0506.github.io/test_website_setup/%E9%A6%96%E9%A0%81/index.html",
        target="_blank"
      )
        p 回到和平島數位圖像故事館
//- .pageLoading
//-   .loadingtext Now Loading......
//-   .loading
//-     .bar
