
*{
    /*border: solid 2px black;*/
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
    margin: 0;
    padding: 0;
    text-align:center;
  }
  body{
    background-image:url(background.jpg);
    background-size: auto 120%;
    background-position:center;
    background-repeat: no-repeat;
    height:100%;
    display: flex;
  }
  .map{
    height: 100%;
    width: 80%;
  }
  .map a{
    display:flex;
    flex-direction: column ;
    color: initial;
    text-decoration: initial;
    font-family: 微軟正黑體;
    font-size: 20px;
    text-shadow:0 1px 0 #ccc, 
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
    transition: 0.5s
  }
  .map a:hover{
    transform: scale(1.3);
}
  /*.map a{
    height: 100%;
    width: 100%;
    color: initial;
    text-decoration: initial;
    font-family: 微軟正黑體;
    font-size: 20px;
    text-shadow:0 1px 0 #ccc, 
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
  }*/


  .top{
    position:relative;
    flex:3;
    display:flex;
    flex-direction: row ;
    justify-content:center;
    align-items: flex-end;
    height:100%;
  }
  .top1 {
    background-image:url(m1.jpg);
    background-size: cover;
    background-position:center;
    width:20%;
    -webkit-clip-path: polygon(0 0, 50% 15%, 100% 50%, 100% 100%, 50% 100%, 0 70%);
    clip-path: polygon(0 0, 50% 15%, 100% 50%, 100% 100%, 50% 100%, 0 70%);
    line-height:200px;
  }
 
  .top2{
    background-image:url(m2.jpg);
    background-size: cover;
    background-position:center;    width:50%;
    height:100px;
    vertical-align:middle;
    line-height:100px;
  }
  .top3{
    
    background-image:url(m3.jpg);
    background-size: cover;
    background-position:center;
    height:200px;
    width:20%;
    -webkit-clip-path: polygon(100% 0, 50% 15%, 0 50%, 0 100%, 50% 100%, 100% 70%);
    clip-path: polygon(100% 0, 50% 15%, 0 50%, 0 100%, 50% 100%, 100% 70%);
    line-height:200px;
  }
  
  .center{
    flex:3;
    display:flex;
    flex-direction: row ;
    align-items: center;
    justify-content:center;
    line-height:500px;
  }
  .center1{
    background-image:url(m4.jpg);
    background-size: cover;
    background-position:center;
    height:500px;
    width:10%;
  }
 
  .center3{
    background-image:url(m5.jpg);
    background-size: cover;
    background-position:center;
    height:500px;
    width:10%;
  }
  .bottom{
    flex:3;
    display:flex;
    flex-direction: row ;
    align-items: flex-start;
    justify-content:center;
  }
  .bottom1{
    background-image:url(m6.jpg);
    background-size: cover;
    background-position:center;
    height:200px;
    width:20%;
    -webkit-clip-path: polygon(0 100%, 70% 80%, 100% 50%, 100% 0, 50% 0, 0 25%);
    clip-path: polygon(0 100%, 70% 80%, 100% 50%, 100% 0, 50% 0, 0 25%);
    line-height:200px;
  }
  .bottom2{
    background-image:url(m7.jpg);
    background-size: cover;
    background-position:center;
    height:100px;
    width:50%;
    line-height:50px;
  }
  .bottom3{
    background-image:url(m8.jpg);
    background-size: cover;
    background-position:center;
    height:200px;
    width:20%;
    -webkit-clip-path: polygon(100% 100%, 50% 85%, 0 50%, 0 0, 50% 0, 100% 25%);
    clip-path: polygon(100% 100%, 50% 85%, 0 50%, 0 0, 50% 0, 100% 25%);
    line-height:200px;
  }
  .right{
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text{
  display:flex;
  align-items:center;
  position: absolute;
  flex-wrap: wrap;
  height: 100%;
  width: 80%;
}

.textbg{
  display:flex;
  justify-content:center;
  position: relative; 
  flex:7;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
}

.textbg img{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.dock{
  position: relative;
  flex:3;
}



.slide {
  width: 50%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.slide > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  animation: slide 40s infinite;
  opacity: 0;
}

.slide>div>img{
  height: 100%;
}

.slide > div:nth-child(2) {
  animation-delay: 5s;
}
.slide > div:nth-child(3) {
  animation-delay: 10s;
}
.slide > div:nth-child(4) {
  animation-delay: 15s;
}
.slide > div:nth-child(5) {
  animation-delay: 20s;
}
.slide > div:nth-child(6) {
  animation-delay: 25s;
}
.slide > div:nth-child(7) {
  animation-delay: 30s;
}
.slide > div:nth-child(8) {
  animation-delay: 35s;
}

@-webkit-keyframes slide {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
  }
}

@keyframes slide {
  6.25% {
    opacity: 1;
  }
  12.5% {
    opacity: 1;
  }
  18.75% {
    opacity: 0;
  }
  25% {
    transform: scale(1.1);
  }
}

.slide:hover{
  -webkit-animation-play-state: paused ;
  animation-play-state: paused ;
}
