.title {
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	font-size: 2.5vmin;
	color: white;
	-webkit-box-flex: 1;
			flex: 1;
}
.title h1 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 6vmin;
}
body, h2, p {
	margin: 0;
	padding: 0;
}

body {
	background: url('back.jpg') no-repeat center center fixed;
	background-size: cover;
	color: #333;
	font-family: "微軟正黑體", sans-serif;
}

#book {
	background: url("book.png") no-repeat;
	background-size:1200px 500px;
	position: absolute;
	width: 1200px;
	height: 500px;
	left: 10%;
	top: 20%;
}

#pages section {
	background: url("paper.png") no-repeat;
	background-size:580px 480px;
	display: block;
	width: 580px;
	height: 480px;
	position: absolute;
	left: 600px;
	top: 10px;
	overflow: hidden;
}
	#pages section>div {
		display: block;
		width: 580px;
		height: 480px;
		font-size: 15px;
	}
	#pages section p,
	#pages section h2 {
		padding: 3px 35px;
		line-height: 1.4em;
		text-align: justify;
	}
	#pages section h2{
		margin: 15px 0 10px;
	}

#pageflip-canvas {
	position: absolute;
	z-index: 100;
}
