@charset "UTF-8";
* {
  font-family: "微軟正黑體";
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  flex-direction: column;
  min-width: 415px;
}

body {
  background-image: url(background.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x:hidden;

}

.webBody {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.title {
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-size: 2.5vmin;
  color: white;
  -webkit-box-flex: 1;
          flex: 1;
}
.title h1 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 3em;
}
.title p {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 1.1em;
}

.content {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: relative;
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  justify-content: center;
=======
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
>>>>>>> 10fdbdbfb6d29db6dab312d11943e46409b6e57e
  align-content: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}
/*
.content .part1 {
  -webkit-box-flex: 1;
          flex: 1;
  margin-top: 20px;
}
.content .part1 p {
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
}
*/
.bold{
  font-size:x-large;
  font-weight:bolder;
}

.align{
  display:flex;
  justify-content:center;
  font-size:x-large;
  font-weight:bolder;
}

.part1_align{
  padding-left: 8vmin;
  padding-right: 8vmin;
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
}

img{
  display:flex;
  margin:auto
}

table,tr,td,th{
  border: solid 1px white;
}

table{
  margin-left: 2vmin;
  margin-right: 2vmin;
}

td:hover{
  background-color: blue;
}

.part1_title{
  font-size:2.5em
}

.part1_1{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 25px;
}

.part1_1 h1{
  margin: 0;
}

.part1_1 p{
  margin: 15px;
}


.content .part2 a {
  text-decoration: none;
  color: yellow;
  cursor: pointer;
  font-size: 18px;
}
.content .part2 {
  border-top: solid 3px white;
}
.content .part3 {
  margin-top: 80px;
  border-top: solid 3px white;
}

/*
#meeting {
  background-color: white;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 50px;
}
*/
.backtoindex {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font-size: 3.5vmin;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 12vmin;
  height: 12vmin;
}
<<<<<<< HEAD

.part1{
  width: 100%;
  height: 800px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide{
  overflow: scroll;      
  overflow-x: hidden;
}
.swiper-slide::-webkit-scrollbar {
  width: 15px;
}
.swiper-slide::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: rgb(72, 90, 90);
  box-shadow: inset 0 0 6px rgb(41, 46, 46); 
  -webkit-box-shadow: inset 0 0 6px rgb(41, 46, 46); 
}




=======
>>>>>>> 10fdbdbfb6d29db6dab312d11943e46409b6e57e
/*
@media (min-height: 1920px) {
  .title h1 {
    font-size: 10em;
  }
  .title p {
    font-size: 5em;
  }
  .content{
    font-size: 3em;
  }
  .content .part p{
    font-size: 1em;
  }
}
*/
@media screen and (orientation: portrait) {
  .title h1 {
    font-size: 15vmin;
  }
  .title p {
    font-size: 5vmin;
  }
  .content{
    font-size: 4vmin;
  }
  .content .part p{
    font-size: 5vmin;
  }
  .content .part a {
    font-size: 5vmin;
  }
}

@media screen and (max-width:1000px) {
  .title h1 {
    font-size: 15vmin;
  }
  .title p {
    font-size: 5vmin;
  }
  .content{
    font-size: 4vmin;
  }
  .content .part p{
    font-size: 5vmin;
  }
  .content .part a {
    font-size: 5vmin;
  }
}